@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap');

.container {
    background-color: #EFD81D;
    width: 187px;
    height: 187px;
    margin: auto;
    
}

.cotainer,h1 {
    padding-left: 110px;
    padding-top: 100px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 60px;
}

.box {
    margin: auto;
    width: 450px;
    height: 100px;
    margin-top: 30px;
}

button {
    width: 50px;
    height: 20px;
}